#myImage{
    width: 200px;
    height: 200px;
    -ms-transform: rotate(7deg); /* IE 9 */
    -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
    transform: rotate(350deg);
}


.imageArea{
    float: right;
    position: absolute;
    top: 40px;
    right: 200px; 

}

.descriptiveParagraph{
    position: relative;
    left: 0;
    width: 70%;
}

body{
    width: 70%;
    margin: auto;
}

.resumeBody{
    margin-top: 20px;
}

.verticalLine{
    border-left: solid black;
    border-width: .3px;
    height: 100px;
    float: left;
    margin-right: 10px;
}

.detailHeading{
    font-weight: bold;
    float: left;
    margin-right: 10px;
}

.details{
    float: left;
}